extends layout

block content
  .page-header
    h1 
      a(href='/').title Auction 
      a(href='/auction/' + name).small#name= name

  .container-fluid
    .row
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title.h5 Notifications
          #notifications.list-group
            a.list-group-item.active
              | Welcome to <strong>#{name}</strong>.

        #begin.btn-group
          button(type='button')#start.btn.btn-default Start
         
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title.h5 Block
          .list-group
            a#timer.list-group-item.list-group-item-info
              span#current -
              span#timer-value.badge 0
        .row
          .col-sm-9
            #raise
              .input-group
                input(type='text', value='0')#value.form-control
                .input-group-btn
                  button(type='button')#bid.btn.btn-default Bid

          .col-sm-3
            #withdrawal
              .btn-group
                button(type='button')#withdraw.btn.btn-default Withdraw
              
        #choice.panel.panel-default.choice-panel
          .panel-heading
            #type.panel-title.h5 
          #completion.input-group
            input(type='text')#complete.form-control
            .input-group-btn
              button(type='button')#choose.btn.btn-default Choose
          #choices.list-group.choices

      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title.h5 Bidders
          #bidders.list-group

        #banned.panel.panel-default
          .panel-heading
            .panel-title.h5 Bans
          #bans.list-group

        #sign-on.input-group
          input(type='text', placeholder='Name')#bidder.form-control
          .input-group-btn
            button(type='button')#join.btn.btn-default Join

        #sign-off.btn-group
          button(type='button')#leave.btn.btn-default Leave

  script(src='/scripts/auction.js')
