extends layout

block content
    .page-header
        h1 Auction

    .container-fluid
        .row
            .col-sm-6
                .panel.panel-default
                    .panel-heading
                        .panel-title
                            .h5 Auctions
                    #auctions.list-group

                #new-auction.input-group
                    input(type='text', placeholder='Name')#name.form-control
                    .input-group-btn
                        button(type='button')#create.btn.btn-default Create

            .col-sm-6
                .panel.panel-default
                    .panel-heading
                        .panel-title
                            .h5 Notifications
                    #notifications.list-group
                        a.list-group-item.active Welcome to Auction.

    script(type='text/javascript').
        var socket = io();
        socket.emit('index');
        
        var notify = function(notification) {
            var notifications = $('#notifications').children();
            if (notifications.length > 9) notifications.last().remove();

            notifications.filter('.active').removeClass('active');
            
            $('#notifications').prepend(
                '<a class="list-group-item active">' + notification + '</a>'
            );
        }

        //Input
        socket.on('auction', function(name) {
            $('#auctions').append(
                '<a href="/auction/' + name + '" id="#' + name + '" class="list-group-item">' + name + '</a>'
            );
        });

        socket.on('created', function(name) {
            $('#auctions').append(
                '<a href="/auction/' + name + '" id="#' + name + '" class="list-group-item active">' + name + '</a>'
            );
        });

        socket.on('notification', function(notification) { notify(notification); });

        // Output
        $('#create').click(function() { socket.emit('create', $('#name').val()); });
