.bidder-lot {
    border-bottom: 1px solid lightgrey;
    margin-left: 1%;
    margin-top: 1%;
    padding-left: 1%;
}

body {
    /*
    background: url('/images/background.jpg') no-repeat center bottom fixed; 
    background-size: cover;
    */
    height: 100%;
    padding: 5%;
    width: 100%;
}

.code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.count { margin-left: 5%; }

#completion { margin: 1%; }

.danger { color: #a94442 !important; }

.holder {
    border: 1px solid black;
    width: 500px;
}

html {
    height: 100%;
    width: 100%;
}

.info { color: #31708f !important; }

#main {
    background-color: white;
    padding: 1% 2% 5% 2%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid lightgray;
}

.success { color: #3c763d !important; }

.title {
    color: black;
    text-decoration: none;
}

.title:hover { text-decoration: none; }

#timer { background-image: none; }

#type { text-transform: capitalize; }

#withdraw { width: 100%; }

#withdrawal { width: 100%; }
